/.vagrant
*.cu
*.o
*.json
*.ppm
.sconsign.dblite
*.pdf
*.cmi
*.cmx
*.cmo
.*.swp
/compiler/parser.ml
/compiler/parser.mli
/compiler/scanner.ml
/compiler/generator
/test/hello
/test/control_flow
/test/mandelbrot
/test/vecmult
/test/dotprod
/test/arrays
/test/functions
/test/complex
/test/float
/test/map
/test/inline
/test/logic
/test/reduce
